/* Palette based on Pantone's color of the year 2023
   https://www.pantone.com/color-of-the-year/2023 */

$primary-color:		#932d44;	// Viva Magenta
$secondary-color:	   #943e6f;	// Rose Violet
$light-color:	      #ffffff;	// White
$dark-color:   	   #2d2f30;	// Black Beauty
$success-color:		#318959;	// Island Green
$info-color:		   #2e7e94;	// Horizon Blue
$warning-color:		#8e4c2a;	// Gold Flame
$error-color:		   #6b232d;	// Peony
$link-color:         $light-color;