@import "_colors.scss";
body {
  font-family: sans-serif;
  font-size: 1em;
  text-align: left;
  background: linear-gradient(to right bottom, $primary-color, $secondary-color);
  color: $light-color;
  min-height: 100vh;
}

a {
  color: $link-color;
}

div, p{
  margin: 0px;
  padding: 0px;
}

@mixin alert($border-color, $background-color){
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $background-color;
  margin: 1em;
  padding: 0.5em;

  .alert-title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

@mixin button($color, $border-color, $background-color){
  border: 1px solid $border-color;
  border-radius: 5px;
  color: $color;
  background-color: $background-color;
  margin: 0.3em;
  padding: 0.3em;
  cursor: pointer;

  &:hover {
    background-color: $color;
    color: $background-color;
  }
}

.horizontal-container{
  display: flex;
  align-items: start;
  justify-content: start;
  .confirm-button {
      @include button ($light-color, $dark-color, $success-color);
    }

  .reject-button {
    @include button ($light-color, $dark-color, $secondary-color);
  }
}

.header {
  color: $light-color;
  font-size: 2rem;
  margin: 1em 0.5em;

  .logo {
    font-weight: bold;
    padding: 0.5em;
    background-color: $secondary-color;
    border-radius: 10px;
  }

  .site-title {
    font-weight: normal;
    padding: 0.5em;
  }
}

.content {

  padding: 0.5em 1em;
  display: block;

  .content-section {
    display: block;
    .success {
      @include alert($dark-color, $success-color);
    }

    .info {
      @include alert($dark-color, $info-color);
    }

    .warning {
      @include alert($dark-color, $warning-color);
    }

    .error {
      @include alert($dark-color, $error-color);
    }
  
  }
}







