@import "_colors.scss";

$size: 1em;

body {
  font-family: sans-serif;
  font-size: $size;
  text-align: left;
  background: linear-gradient(to right bottom, $primary-color, $secondary-color);
  color: $light-color;
  min-height: 100vh;
}

a {
  color: $link-color;
}

div, p{
  margin: 0px;
  padding: 0px;
}


// Mixins
@mixin bordered-item($color, $radius){
  border: 1px solid $color;
  border-radius: $radius;
}

@mixin button($background-color: $success-color){
  @include bordered-item($dark-color, 5px);
  color: $light-color;
  background-color: $background-color;
  margin: 0.3em;
  padding: 0.3em 0.4em;
  cursor: pointer;

  &:hover {
    background-color: $light-color;
    color: $background-color;
  }
}

// Inheritance
%alert {
  @include bordered-item($dark-color, 10px);
  margin: 1em;
  padding: 0.5em;

  .alert-title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}


.horizontal-container{
  display: flex;
  align-items: start;
  justify-content: start;

  .confirm-button {
    @include button ();
  }

  .reject-button {
    @include button ($secondary-color);
  }
}

.header {
  color: $light-color;
  font-size: 2em;
  margin: 1em 0.5em;

  .logo-text {
    font-weight: bold;
    padding: 0.5em;
    background-color: $secondary-color;
    border-radius: 10px;
  }

  .site-title {
    font-weight: normal;
    padding: 0.5em;
  }
}

.content {

  padding: 0.5em 1em;

  .content-text {
    text-align: center;
    font-size: 1.3 * $size;
  }

  .features {

    display: flex;
    margin: 0.5em;
    align-items: start;
    font-size: 0.9 * $size;

    .feature {
      text-align: center;
      margin: 0.5em;
      padding: 1em;
      @include bordered-item($light-color, 20px);
    }
  }

  .alerts{

    .success {
      @extend %alert;
      background-color: $success-color;
    }

    .info {
      @extend %alert;
      background-color: $info-color;
    }

    .warning {
      @extend %alert;
      background-color: $warning-color;
    }

    .error {
      @extend %alert;
      background-color: $error-color;
    }
  }
  

  .content-section {
    display: block;
  }
}


